<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Programs&Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./css/P&E.css">  
  </head>
  <body>
    <div class="red-strip">

    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="index001.html"><img src="images/logo.jpg" alt="VESIT logo" style="height: 60px; width: 50px; padding:5px"> AlumConnect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item ">
                        <a class="nav-link active" href="community.html" target="_self">COMMUNITY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="P&E.html">PROGRAMS & EVENTS</a>
                    </li>
                    
                    <li class="nav-item ">
                        <a class="nav-link active" href="college.html">COLLEGE</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link active" href="organizers.html">ORGANIZERS</a>
                  </li>
                    <!-- <li class="nav-item ">
                        <a class="nav-link active" href="#">CONTRIBUTE</a>
                    </li> -->
                    
                </ul>
                <ul class="specify navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-but1">
                        <a class="btn btn-outline-light" href="C:\Users\DELL\Desktop\Alumni\Signup.html" >REGISTER</a>
                    </li>
                    <li class="nav-but1">
                        <a class="btn btn-outline-light" href="C:\Users\DELL\Desktop\Alumni\login.html">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
      <div>
        <section>
      <div class="header">
        <div class="img-parent">
            <div class="img">
            <img src="#"alt="">
            </div>
       
        <div class="img-overlay"></div>
    </div>
    <div class="img-content">
        <h2>PROGRAMS & EVENTS</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolor magni libero esse reiciendis voluptate laboriosam ex neque, illo corporis soluta sed quis eligendi! Sequi itaque ducimus provident! Fugit, repellendus.

        </span>
    </div>
    </div>
  </section>
    <!-- EVENT SECTION -->
<section class="eventpart">
    <div class="container event">
    <div class="row justify-content-center text-center">
        <div class=" offset-sm-1 col-sm-5">
            <img src="images/Event1.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>CMPN - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-5">
            <img src="images/Event2.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>ETRX - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class=" offset-sm-1 col-sm-5">
            <img src="images/Event3.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>ETRX - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-5">
            <img src="images/Event4.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>INST - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class=" offset-sm-1 col-sm-5">
            <img src="images/Event5.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>IT - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-5">
            <img src="images/Event6.png" class="img-fluid" alt="">
            <div class="event-content">
                <h4>MCA - Convocation</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                    </span><br>
                <a href="">join</a>
            </div>
        </div>
    </div> 
    <div class="row justify-content-center text-center">
      <div class=" offset-sm-1 col-sm-5">
          <img src="images/bg02.avif" class="img-fluid" alt="">
          <div class="event-content">
              <h4>Business Mastery Event</h4>
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                  </span><br>
              <a href="">join</a>
          </div>
      </div>
      <div class="offset-sm-1 col-sm-5">
          <img src="images/bg02.avif" class="img-fluid pictures" alt="">
          <div class="event-content last">
              <h4>Business Mastery Event</h4>
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim dolorem possimus sapiente, odit minima earum ipsum ducimus eligendi officiis explicabo. Repellat fugit ab esse totam debitis asperiores culpa, deserunt autem!
                                  </span><br>
              <a href="">join</a>
          </div>
      </div>
  </div>   
  </div >    
   </div> 
  </section>
    
   
    <footer class="footer">
        <div class="container_footer">
          <div class="row">
            <div class="footer-col">
              <h4>CONTACT US</h4>
              <ul>
              <p>Tel : +91-22-61532510 / 27 (Admission)</p>
              <p>Fax : +91-22-61532555</p>
              <p>Email : vesit@ves.ac.in<br>vesit.admission@ves.ac.in<br>vesit.website@ves.ac.in<br> exam.vesit@ves.ac.in</p>
                  
              </ul>
            </div>
            <div class="footer-col">
              <h4>SOCIAL MEDIA </h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
            <div class="footer-col">
              <h4>ADDRESS</h4>
              <p>Hashu Advani Memorial Complex, Collector's Colony
                Chembur, Mumbai, Maharashtra 400074</p>
              
            </div>
          </div>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script> 
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script> 
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>